body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-size: 62.5%;
}

.logo {
  height: 100px;
  margin: 0 auto;
  background-color: #F3976C;
  text-align: center;  
}

.logo__img{
  height: 60px;
  padding: 20px;
}

nav {
  text-align: center;
  margin: 3rem;
}

nav .container {
  display: flex;
  justify-content: space-around;
}

nav p {
  margin: 4rem auto;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  border-radius: 9999px;
  background-color: #F3976C;
  font-size: 1.5rem;
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

a:hover {
  color: white;
  background-color: #ae3b06;
}
